body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header {
    background-color: #3FA2F6;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .profile-img {
    border-radius: 10%;
    width: 150px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
}

header .header-text {
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.switch-lang {
    background-color: #fff;
    color: #3FA2F6;
    border: 2px solid #fff;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 20px;
}

header p {
    font-size: 1.2em;
}

.content-section {
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3FA2F6;
    margin-bottom: 10px;
    border-bottom: 2px solid #3FA2F6;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer a {
    color: #3FA2F6;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
